@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* global css start */

p{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.button-primary{
    background-color: #E55473;
    margin-top: 80px;
    padding: 20px 43px;
    border-radius: 8px;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

/* global css end */

.container-bg{
    background-color: rgba(229, 84, 115, 0.1);
}

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10% 0px;
    gap: 97px;
}

.hero-info{
    width: 45%;
}

.hero-info h1{
    font-family: 'Lato', sans-serif;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-info p{
    margin-bottom: 60px;
    margin-top: 52px;
}

.align-center{
    display: block;
    text-align: center;
}

.hero-info h2{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.sale-container{
    height: 620px;
}

.sale-container div p{
    margin-top: 24px;
}